.home-header {
    grid-area: header;
    box-sizing: border-box;
    height: calc(6rem - 1px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header-user {
    float:right;
    font-weight: bold;

}

#logout-button {
    float:right;
}

.tool-bar {
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    border: 2px solid;
}

.profile-content {
    text-align: center;
    flex-direction: row;
}
.myProfile {
    font-weight: bold;
}
.myScrap {
    font-weight: bold;
}