.home-header {
    grid-area: header;
    box-sizing: border-box;
    height: calc(6rem - 1px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header-user {
    float:right;
    font-weight: bold;

}

#logout-button {
    float:right;
    width: 56px;
    height: 36px;
    font-size: 10px;
    background-color: coral;
    color: #ffffff;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

.tool-bar {
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    border: 2px solid;
}

.profile-content {
    text-align: center;
    flex-direction: row;
}
.myProfile {
    font-weight: bold;
}
.myScrap {
    font-weight: bold;
}
#home-button {
    width: 56px;
    height: 36px;
    font-size: 10px;
    background-color: coral;
    color: #ffffff;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}
.edit-profile-button {
    width: 74px;
    height: 36px;
    background-color: #ffffff;
    color: coral;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid;
    font-size: 100%;
}
#edit-nickname {
    width: 512px;
    height: 36px;
    font-size: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dadce0;
}