<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    html에서 cookie 인식-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>SC | 로그인</title>
</head>
<body>
<div id="login-form">
    <h2>Study Community</h2>
    <input type="text" placeholder="아이디" name="username" class="login-name-box">
    <br>
    <input type="password" placeholder="비밀번호" name="password" class="login-pw-box">
    <br>
    <div id="login-failed" style="display: none" class="alert alert-danger" role="alert">아이디 혹은 비밀번호가 일치하지 않습니다.</div>
    <button id="login-button" onclick="login()">로그인</button>
    <div id="no-member">아직 회원이 아니신가요?</div>
    <button id="signup-button" onclick="location.href='/users/signup'">회원 가입</button>
</div>
</body>
<script>
    $(document).ready(function () {
        // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    });

    const host = 'http://' + window.location.host; // http://localhost:8080
    const href = location.href;
    const queryString = href.substring(href.indexOf("?")+1)
    if (queryString === 'error') {
        const errorDiv = document.getElementById('login-failed');
        errorDiv.style.display = 'block';
    }

    function login() {
        let username = $('.login-name-box').val()
        let password = $('.login-pw-box').val()
        let data = {'username': username, 'password': password};
        $.ajax({
            type: "POST",
            url: "/users/login",
            contentType: "application/json",
            data: JSON.stringify(data),
        })
            .done(function (res, status, xhr) {
                alert("로그인 되었습니다.");
                window.location.href = host + "/home"
            })
            .fail(function (xhr, textStatus, errorThrown) {
                window.location.href = host + "/?error"
            });

    }
</script>
</html>

