<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script src="/js/signup.js"></script>
    <title>Study Community 회원가입</title>
</head>
<body>
<div id="signup-form">
    <h2>Study Community 회원가입</h2>
    <input type="text" placeholder="아이디" name="username" class="signup-name-box">
    <br>
    <input type="password" placeholder="비밀번호" name="password" class="signup-pw-box">
    <br>
    <button id="signup-button2" onclick="signup()">회원 가입</button>
    <br>
    <button id="go-login" onclick="location.href='/'">로그인 하러 가기</button>
</div>
</body>
</html>